body  {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.caixaMestre {
    width: 50%;
    height: 80vh;
    margin: auto;
    background-color: rebeccapurple;
}
.caixaCheckBox{
    display: block;
    float: right;
    text-align: center;
    background-color: palegreen;
}
.caixaInput {
    display: block;
    float: right;
    width: 25%;
    background-color: bisque;
    text-align:  right;
}

.caixaEsquerda {
    display: block;
    float: left;
    width: 60%;
    height: 80vh;
    background-color: peru;
}