body  {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.caixaMestre {
    width: 55%;
    height: 95vh;
    margin: auto;
    background-color: rgb(221, 221, 221);
}
.caixaCheckBox{
    margin: auto;
    text-align: center;

}
.caixaInput {
    padding-top: 5vh;
    display: block;
    float: right;
    width: 25%;
    background-color:  rgb(207, 207, 207);;
    text-align:  right;
    height: 90vh;
    padding-right: 2%;
}

.caixaEsquerda {
    display: block;
    float: left;
    width: 72%;
    height: 80vh;
    padding-top: 2%;
}

.footer{
    height: 5vh;
    text-align: center;
    background-color: black;
    color: white;
}

.caixaObs {
    background-color: rgb(140, 194, 140);
    margin-left: 5%;
    margin-top: 10%;
    font-size: 0.8em;
    text-align: center;
    padding: 5%;
    color: white;
    
}

@media only screen and (max-width: 600px) {
        .caixaMestre {
            width: 100%;
            height: 95vh;
            margin: auto;
            background-color: rgb(221, 221, 221);
        
    }img{
        display: none;
    }.caixaInput {
        display: block;
        float: right;
        width: 100%;
        height: 130%;
        background-color:  rgb(207, 207, 207);;
        text-align:  center;
   
    }
    footer{
        display: none;
    }
    .caixaEsquerda {
        display: none;

    }

    .caixaObs {
        background-color: rgb(140, 194, 140);
        font-size: 0.8em;
        text-align: center;
        padding: 5%;
        color: white;
        width: 80%;
        
    }
}